<!doctype html>
<html lang="en" class="no-js">
    <head>
        <title id="newCallTitle">Rough book | Start Conference</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Rough book: Pick a name, share the URL, and start your secure conference instantly."
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, video meeting, video chat, video conference, peer to peer, p2p, rtc"
        />

        <meta property="og:type" content="{{OG_TYPE}}" />
        <meta property="og:site_name" content="{{OG_SITE_NAME}}" />
        <meta property="og:title" content="{{OG_TITLE}}" />
        <meta property="og:description" content="{{OG_DESCRIPTION}}" />
        <meta property="og:image" content="{{OG_IMAGE}}" />
        <meta property="og:url" content="{{OG_URL}}" />

        <link rel="stylesheet" href="../css/rough-book.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <script async src="../js/umami.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8"></script>
    </head>
    <body>
        <div class="body-wrap">
            <!-- <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <h1 class="brand-title m-0">
                                <a href="/">Rough book</a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header> -->
            <main class="site-content">
                <section class="hero section illustration-section-01">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="hero-ascii">
                                <pre id="ascii-animation">
░█████████                                   ░██           ░████████                         ░██          
░██     ░██                                  ░██           ░██    ░██                        ░██          
░██     ░██  ░███████  ░██    ░██  ░████████ ░████████     ░██    ░██   ░███████   ░███████  ░██    ░██   
░█████████  ░██    ░██ ░██    ░██ ░██    ░██ ░██    ░██    ░████████   ░██    ░██ ░██    ░██ ░██   ░██    
░██   ░██   ░██    ░██ ░██    ░██ ░██    ░██ ░██    ░██    ░██     ░██ ░██    ░██ ░██    ░██ ░███████     
░██    ░██  ░██    ░██ ░██   ░███ ░██   ░███ ░██    ░██    ░██     ░██ ░██    ░██ ░██    ░██ ░██   ░██    
░██     ░██  ░███████   ░█████░██  ░█████░██ ░██    ░██    ░█████████   ░███████   ░███████  ░██    ░██   
                                         ░██                                                              
                                   ░███████                                                                
                                </pre>
                                <h1 id="newCallRoomTitle" class="mt-32 mb-16">
                                    Pick name | 
                                    Share URL <br />
                                    Start conference
                                </h1>
                                <p id="newCallRoomDescription" class="mt-0 mb-32">
                                    Each room has a unique URL. Just pick a name and share it. It's that easy.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta section center-content-mobile mb-32">
                    <div class="container">
                        <div class="cta-inner section-inner cta-split br-12">
                            <div class="cta-slogan">
                                <h3 id="appJoinDescription" class="m-0">
                                    Pick a room name.<br />
                                    How about this one?
                                </h3>
                            </div>
                            <div class="cta-action">
                                <div class="mb-0">
                                    <label class="form-label screen-reader" for="roomName">Rough book Room</label>
                                    <div class="form-group-desktop">
                                        <input
                                            id="roomName"
                                            class="form-input"
                                            type="text"
                                            value="rough-book"
                                            maxlength="32"
                                        />
                                        <button
                                            id="genRoomButton"
                                            class="button button-primary br-6 mr-8 mb-8 fas fa-arrows-rotate"
                                        ></button>
                                        <button id="joinRoomButton" class="button button-primary br-6">
                                            Join Room
                                        </button>
                                    </div>
                                </div>
                                <div id="lastRoomContainer" class="last-room">
                                    <span id="appJoinLastRoom">Your recent room:</span>
                                    <a id="lastRoom"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- <footer id="footer" class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="footer-bottom space-between text-xxs invert-order-desktop">
                            <div class="footer-copyright">&copy; 2025 Rough book, all rights reserved</div>
                        </div>
                    </div>
                </div>
            </footer> -->
        </div>

        <script defer src="../js/utils.js"></script>
        <script defer src="../js/landing.js"></script>
        <script defer src="../js/common.js"></script>
    </body>
</html>